body {
    background-color: white;
    margin: 0;
    position: relative;
    min-height: 100vh;
}
nav {
    top: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    position: sticky;
    display: block;
}

.nav_button {
    height: 50px;
    width: 150px;
    background: none;
    border: 0;
    font-size: 24px;
}
    .nav_button:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
footer {
    height: 300px;
    width: 100%;
    bottom: 0;
    position: absolute;
    background: #909090;

}
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    .nav_button {
        color: white;
    }
        .nav_button:hover {
            background-color: white;
            color: black;
        }
    footer {
        background: #2c2c2c;
    }
}

