body {
    background-color: white;
    margin: 0;
    position: relative;
    min-height: 100vh;
    height: 100%;

    display: block;
}
nav {
    top: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    position: sticky;
    display: block;
}
.nav_button {
    height: 50px;
    width: 150px;
    background: none;
    border: 0;
    font-size: 24px;
}
    .nav_button:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
main{
    height: 1200px;

    width: 1000px;
    max-width: 100%;
    min-width: 800px;
    margin: 50px auto 300px auto;
    background-color: #1c1c1c;
}
footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    background: #909090;
    text-align: center;
}
.footer_box {
    min-height: 150px;
    width: 200px;
    display: inline-flex;
    margin-top: 10px;
    border: white solid 1px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    .nav_button {
        color: white;
    }
        .nav_button:hover {
            background-color: white;
            color: black;
        }
    footer {
        background: #2c2c2c;
    }
}
@media screen and (max-width: 1000px){
    main {
        margin-bottom: 800px;
    }
    footer {
        padding-top: 50px;
    }
    .footer_box {
        display: flex;
        margin: auto;
    }
}

