body {
    background-color: white;
    margin: 0;
    position: relative;
    min-height: 100vh;
    height: 100%;
    display: block;
}
nav {
    top: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    position: sticky;
    display: block;
}
.nav_button {
    height: 50px;
    width: 150px;
    background: none;
    border: 0;
    font-size: 24px;
}
    .nav_button:hover {
        cursor: pointer;
        background-color: black;
        color: white;
    }
.menu {
    height: 50px;
    position: absolute;
    display: none;

}
main{
    height: 1200px;
    width: 1000px;
    max-width: 100%;
    min-width: 400px;
    margin: 50px auto 300px auto;
    background-color: #1c1c1c;
}
footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    background: #909090;
    text-align: center;
}
.footer_box {
    min-height: 150px;
    width: 150px;
    display: inline-flex;
    margin-top: 10px;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
    .nav_button {
        color: white;
    }
        .nav_button:hover {
            background-color: white;
            color: black;
        }
    .menu {
        filter: invert(1);
    }
    footer {
        background: #2c2c2c;
    }
}
@media screen and (max-width: 670px){
    nav {
        position: initial;
        height: 50px;
    }
    .nav_button {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu {
        display: initial;
        left: 0;
    }
        .menu:hover {
            filter: invert(0.5);
        }
        .menu:hover + .nav_button {
            display: block;
        }
        .menu:hover + nav {
            height: 200px;
        }
    main {
        margin-top: 0;
        margin-bottom: 800px;
    }
    footer {
        padding-top: 50px;
    }
    .footer_box {
        display: flex;
        margin: auto;
    }
}

